.formulario {
    border: 1px solid black;
    border-radius: 1rem;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 250px;
}

.buscador {
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 0.8rem;
    flex: 6;
    border-radius: 1rem;
    
}

.botao {
    flex: 1;
    background-color: transparent;
    border: none;
    border-left: 1px solid black;
    height: 100%;
    outline: none;
    cursor: pointer;
    border-radius: 0 1rem 1rem 0;
}

.botao:hover {
    background-color: aliceblue;
}